.header {
  width: 100%;
  padding: 10px;
  margin-bottom: 5%;
  text-align: center;
  border-bottom: 1px solid #8f1f00;
}
.Form {
  display: flex;
  align-items: center;
  justify-content: center;
}
